body{
  background:black ;
  color: white;
  font-family: Arial,helvetica,Sans-Serif;
}
ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}
a{
  color: white;
  text-decoration: none;
}
header img{
  margin-top:30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid darkgreen;
}
.center{
  text-align: center;
}
footer img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
footer{
  display: flex;
  justify-content: center;
}
footer a{
  margin: 20px;
  text-align: center;
}footer p{
  margin-top: 2px;
}.container{
  padding: 0px 20px;
  
}
nav a:hover{
  color: #5BBE42;
}
main section p{
  text-align: justify;
}
.menu{
  
  background: green;
  width: 100%;
  border: 1px solid darkgreen;
  border-radius: 10px;
}
@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Muda para coluna em telas pequenas */
  }
}